.triangle-down{
    border:5px solid #666;
    border-style: solid dashed dashed;
    border-color: #666 transparent transparent;
    width: 0;
    height: 0;

}
.triangle-up-s::before,.triangle-up-s::after{
    content:'';
    border:6px solid #f1f1f1;
    border-style: dashed dashed solid;
    border-color: transparent transparent #f1f1f1;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: -12px;
}
.triangle-up-s::after{
    border-color:transparent transparent #fff;
    top:-11px;
}
.clearfix::before,.clearfix::after{
    content: '';
    display:table;
}
.clearfix::after{
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
